<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="VisioForge.DotNet.Core.TRIAL" version="11.2.32.0" targetFramework="net45" />
  <package id="VisioForge.DotNet.VideoCapture.TRIAL" version="11.2.32.0" targetFramework="net45" />
  <package id="VisioForge.DotNet.Kinect.TRIAL" version="11.2.32.0" targetFramework="net45" />
</packages>